#para0{font-style: italic;}
#para1{color: blue;
border-width: 1px;
border-style: dashed;}
h1{font-size: 24px}
p{font-size: 20px}
#image1{width: 560px;
height: 420px}
#image2{width: 560px;
height: 380px}
body{margin-left: 25px;
margin-right: auto;
border-style: solid;
border-width: 1px;
border-color: black;
padding-left: 20px;}
#i3,#i5{width: 475px;
height: 300px}
#i4{width: 300px;
height: 400px}
#i6{width: :200px;
height: 375px}
#p0{float: right;
margin-right: 65px;
color: red;
font-size: 16}
audio{float: right;}
	body{background-color:lavender;}
